<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zsoe.businesssharing">
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- <uses-sdk tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" /> -->
    <!-- <uses-permission android:name="${APPLICATION_VALUE}.permission.JPUSH_MESSAGE" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- 注释掉这两个location的权限，如果打开，极光推送api会申请GPS -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.REQUEST_INSTALL_PACKAGES.GET_TASKS" />

    <application
        android:name=".base.DApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="label,allowBackup">
        <activity android:name=".business.me.LiuYanBanActivity"></activity>
        <activity android:name=".business.me.LiuYanRootActivity" />
        <activity android:name=".business.me.LiuYanBanReturnActivity" />
        <activity android:name=".business.me.MessageReturnActivity" />
        <activity android:name=".business.me.AboutUsActivity" />
        <activity
            android:name=".business.message.ConversationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.attention.BuZhangXinxiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.exhibitionhall.CollectAllLookListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 适配全面屏 -->
        <!-- 企业所在地 -->
        <activity
            android:name=".business.me.EnterpriseLocationActivity"
            android:screenOrientation="portrait" /> <!-- 企业所在地 -->
        <activity
            android:name=".easechat.ChatActivity"
            android:screenOrientation="portrait" /> <!-- 认证公司 -->
        <activity
            android:name=".business.me.CertificationCompanyActivity"
            android:screenOrientation="portrait" /> <!-- 我的签到 -->
        <activity
            android:name=".business.me.MySignActivity"
            android:screenOrientation="portrait" /> <!-- 采购需求/库存情况 -->
        <activity
            android:name=".business.home.ProcurementAndInventoryDetailActivity"
            android:screenOrientation="portrait" /> <!-- 全部行业 -->
        <activity
            android:name=".business.exhibitionhall.IndustryClassificationActivity"
            android:screenOrientation="portrait" /> <!-- 采购&库存 -->
        <activity
            android:name=".business.home.ProcurementAndInventoryActivity"
            android:screenOrientation="portrait" /> <!-- 搜索 -->
        <activity
            android:name=".business.home.SearchActivity"
            android:screenOrientation="portrait" /> <!-- 消息提醒 -->
        <activity
            android:name=".business.me.MessageRemindActivity"
            android:screenOrientation="portrait" /> <!-- 产品管理 -->
        <activity
            android:name=".business.me.ProductManagementActivity"
            android:screenOrientation="portrait" /> <!-- 采购/库存管理 -->
        <activity
            android:name=".business.me.ProcurementManagementActivity"
            android:screenOrientation="portrait" /> <!-- 收藏列表 -->
        <activity
            android:name=".business.me.CollectionListActivity"
            android:screenOrientation="portrait" /> <!-- 贷款融资-融资详情 -->
        <activity
            android:name=".business.home.FinancingLoansDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 贷款融资 -->
        <activity
            android:name=".business.home.FinancingLoansActivity"
            android:screenOrientation="portrait" /> <!-- 产品介绍 -->
        <activity
            android:name=".business.exhibitionhall.ProductDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 加盟详情 -->
        <activity
            android:name=".business.home.JoinInvestmentDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 招商加盟 -->
        <activity
            android:name=".business.home.JoinInvestmentActivity"
            android:screenOrientation="portrait" /> <!-- 行业 -->
        <activity
            android:name=".business.exhibitionhall.IndustryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 企业介绍 -->
        <activity
            android:name=".business.exhibitionhall.CompanyProfilesActivity"
            android:screenOrientation="portrait" /> <!-- 活动详情 -->
        <activity
            android:name=".business.exhibitionhall.EventDetailsActivity"
            android:screenOrientation="portrait" /> <!-- 交流报告 -->
        <activity
            android:name=".business.exhibitionhall.CommunicationMeetingForeshowActivity"
            android:screenOrientation="portrait" /> <!-- 动态详情 -->
        <activity
            android:name=".business.exhibitionhall.DynamicDetailsActivity"
            android:screenOrientation="portrait" /> <!-- 近期动态 -->
        <activity
            android:name=".business.exhibitionhall.LatestNewsActivity"
            android:screenOrientation="portrait" /> <!-- 企业列表 -->
        <activity
            android:name=".business.exhibitionhall.CompaniesListActivity"
            android:screenOrientation="portrait" /> <!-- 产品列表 -->
        <activity
            android:name=".business.exhibitionhall.ProductListActivity"
            android:screenOrientation="portrait" /> <!-- 人物介绍 -->
        <activity
            android:name=".business.exhibitionhall.MasterDetailActivity"
            android:screenOrientation="portrait" /> <!-- 行业大咖 -->
        <activity
            android:name=".business.exhibitionhall.MasterListActivity"
            android:screenOrientation="portrait" /> <!-- 卡卷包 -->
        <activity
            android:name=".business.me.CardVolumeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.me.ALLCardVolumeListActivity"
            android:screenOrientation="portrait" /> <!-- 基本信息 -->
        <activity
            android:name=".business.me.BasicInformationActivity"
            android:screenOrientation="portrait" /> <!-- 设置 -->
        <activity
            android:name=".business.me.SetUpActivity"
            android:screenOrientation="portrait" /> <!-- 注册页面 -->
        <activity
            android:name=".business.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 引导页 -->
        <activity
            android:name=".business.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/themeWelcome" /> <!-- 主页 -->
        <activity
            android:name=".business.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 登录页 -->
        <activity
            android:name=".business.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BrowserActivity"
            android:screenOrientation="portrait" /> <!-- 开机自启动服务 -->
        <receiver android:name=".receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver> <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="easemob-demo#chatdemoui" /> <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d779a32570df3055a000488" /> <!-- 个推SDK配置开始 -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="${UMENG_CHANNEL_VALUE}" /> &lt;!&ndash; 配置的第三方参数属性 &ndash;&gt; -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- QQ登录开始 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 这地方需要用你在开放平台申请的appid:tencent+appid -->
                <data android:scheme="tencent1109739836" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    </application>

</manifest>